<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8" />
  <title>編集画面</title>

  <style>
    h1 {
      color: red;
    }
  </style>
</head>
  <body>
    <h1>編集画面</h1>
    <h2>編集のための画面です<h2>
  </body>
</html>
